<h2>{{'IMAGE.TITLE' | translate}}</h2>

<form novalidate #form="ngForm">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 col-xl-6 d-flex justify-content-end">
      <div class="input-group w-auto">
        <span class="input-group-text material-icons">
          search
        </span>
        <input 
          type="text" 
          class="form-control" 
          [placeholder]="'IMAGE.FILTER' | translate" 
          name="inputFilter"
          [(ngModel)]="inputFilter"
          data-cy="input-filter">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-8 col-xl-6">
      <app-table
        [columns]="columns"
        [rows]="rows"
        [filterText]="inputFilter"
        data-cy="table-images">
      </app-table>
    </div>
  </div>
</form>

